@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-950 text-white;
}

html {
    font-family: "Sora", sans-serif;
}

.open {
    @apply absolute bottom-0 left-0 right-0 top-16 flex h-screen w-full flex-col gap-2 bg-zinc-950 pt-6;
    animation: menu 0.3s ease-in-out;
}

@keyframes menu {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
